<script setup lang="ts">
import FancyButton from '@/components/FancyButton.vue';
import { mdiHeartOutline } from '@mdi/js';
</script>

<template>
  <v-container>
    <v-row>
      <v-col><FancyButton><v-icon :icon="mdiHeartOutline"></v-icon>Click Me<template v-slot:tail>
        Tail
      </template></FancyButton></v-col>
    </v-row>
  </v-container>
</template>