<script setup lang="ts">
import { ref } from 'vue';

const props = defineProps({
  name: {
    type: String,
    required: true,
  },
  img: {
    type: String,
    required: true,
  },
});

</script>

<template>
  <v-card class="mx-auto" max-width="344" variant="outlined">
    <v-img :src="props.img" height="300px" cover></v-img>
    <v-card-item>
      <div class="text-center">
        <div class="text-h6 mb-1">
          {{ props.name }}
        </div>
      </div>
    </v-card-item>
  </v-card>
</template>